{% extends 'base.html.twig' %}

{% block title %}Mon panier - Lady Fantastique{% endblock %}

{% block content %}
    <div class="bg-white border py-3 mb-3">
            <div class="col-md-12">
                <a href="{{ path('home') }}">Accueil</a>
                <span class="mx-2">/</span>
                <a href="{{ path('cart') }}" class="text-black">Panier</a>
        </div>
    </div>

    <h1 class="h2">Mon panier</h1>
    retrouver l'ensemble des produits que vous avez ajouté a votre panier

    {% if cart | length > 0 %}
        <table class="table table-hover mt-3">
            <thead class="thead-dark ">
            <tr>
                <th scope="col" class="text-center col-6" colspan="2">Produits</th>
                <th scope="col" class="col-4">Total</th>
                <th scope="col" class="col-2"></th>
            </tr>
            </thead>

            <tbody>
            {% set total = null %}
            {% for product in cart %}
                <tr>
                    <td class="text-right col-3">
                        <img class="size" src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}"><br>
                    </td>

                    <td class="col-3">
                        {{ product.product.name }}<br/>
                        <small>{{ product.product.subtitle }}<br/></small>
                        <a href="{{ path('decrease_to_cart',{ 'id' : product.product.id}) }}">
                            <i class="bi bi-dash-circle"></i>
                        </a>
                        {{ product.quantity}}
                        {% if (product.product.stock - product.quantity) == 0 %}
                                <i class="bi bi-plus-circle text-muted"></i>
                        {% else %}
                            <a href="{{ path('add_to_cart',{ 'id' : product.product.id}) }}">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                            {% endif %}
                    </td>

                    <td>
                        {{ ((product.product.price * product.quantity ) / 100) | number_format(0, ',' , '.') }}€<br/>
                        <small class="small">{{ (product.product.price / 100) | number_format(0, ',' , '.') }}€ / unité</small>
                    </td>

                    <td>
                        <a href="{{ path('delete_to_cart',{ 'id' : product.product.id}) }}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right mb-5">
            {% set nbproduct = null %}
                {% for product in cart %}
                    {% set nbproduct = nbproduct + product.quantity %}
                {% endfor %}

            <strong>Nombre de produits : </strong>{{ nbproduct }}<br/>
            <strong>total de mon panier :</strong> {{ (total / 100) | number_format(2, ',' , '.') }}€<br/>
            <a href="{{ path('order') }}" id="button" class="btn block-small btn-info mt-3">valider mon panier</a>
        </div>
    {% else %}
        <hr>
        <p><b>Votre panier est vide.</b></p>
    {% endif %}
{% endblock %}