{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
    <section class="text-center px-4 py-4">
        <h1 class="h2 text-uppercase mb-3">Les Catégories</h1>
        <p>Sélectionner une ou plusieurs catégories</p>
        <form method="get">
                <fieldset class="form-group">
                    <div id="categories" class="row">

                        <div class="form-check col-lg-3 col-6 mx-auto ">
                            <input type="checkbox" id="categories_1" name="categories[]" class="categories form-check-input" value="1">
                            <label class="form-check-label text-white" for="categories_1">Bracelets</label>
                        </div>

                        <div class="form-check col-lg-3 col-6 mx-auto ">
                            <input type="checkbox" id="categories_2" name="categories[]" class="categories form-check-input" value="2">
                            <label class="form-check-label text-white" for="categories_2">Minéreaux</label>
                        </div>

                        <div class="form-check col-lg-3 col-6 mx-auto ">
                            <input type="checkbox" id="categories_3" name="categories[]" class="categories form-check-input" value="3">
                            <label class="form-check-label text-white" for="categories_3">Colliers</label>
                        </div>

                        <div class="form-check col-lg-3 col-6 mx-auto ">
                            <input type="checkbox" id="categories_4" name="categories[]" class="categories form-check-input" value="4">
                            <label class="form-check-label text-white " for="categories_4">Objets</label>
                        </div>

                    </div>
                </fieldset>
                {{ form_widget(form.rechercher) }}
                {{ form_widget(form._token) }}
        </form>


        {#       #}
{#            {{ form_start(form) }}#}
{#            <article class="col-lg-3 col-6 mx-auto">#}
{#                <figure class="position-relative rounded image-zoom">#}
{#                    <img class="cat img-fluid " src="assets/img/pierre.jpg" alt="">#}
{#                    <h2 id="h2-cat" class="text-white position-absolute">#}
{#                        {{ form_widget(form.categories.1) }}#}
{#                    </h2>#}
{#                </figure>#}
{#            </article>#}
{#            <article class="col-lg-3 col-6 mx-auto">#}
{#                <figure class="position-relative rounded image-zoom">#}
{#                    <img class="cat img-fluid" src="assets/img/pierre.jpg" alt="">#}
{#                    <h2 id="h2-cat" class="text-white position-absolute">#}
{#                        {{ form_widget(form.categories.2) }}#}
{#                    </h2>#}
{#                </figure>#}
{#            </article>#}
{#            <article class="col-lg-3 col-6 mx-auto">#}
{#                <figure class="position-relative rounded image-zoom">#}
{#                    <img class="cat img-fluid" src="assets/img/pierre.jpg" alt="">#}
{#                    <h2 id="h2-cat" class="text-white position-absolute">#}
{#                        {{ form_widget(form.categories.3) }}#}
{#                    </h2>#}
{#                </figure>#}
{#            </article>#}
{#            <article class="col-lg-3 col-6 mx-auto">#}
{#                <figure class="position-relative rounded image-zoom">#}
{#                    <img class="cat img-fluid" src="assets/img/pierre.jpg" alt="">#}
{#                    <h2 id="h2-cat" class="text-white position-absolute">#}
{#                        {{ form_widget(form.categories.4) }}#}
{#                    </h2>#}
{#                </figure>#}
{#            </article>#}
{#            <div class="mx-auto pt-2 px-3 mb-3">#}
{#            {{ form_widget(form.rechercher) }}#}
{#                {{ form_rest(form) }}#}
{#                </div>#}
{#            {{ form_end(form) }}#}
{#       #}
    </section>

<hr>
    <section>
        <h1 class="h2 text-center text-uppercase mt-5 ">Nos meilleures ventes</h1>
        <p class="text-center ">Découvrez les articles les plus vendus</p>
        <div class="row">
            {% for product in products %}
            <div class="col-sm-3 col-6 m-auto">
            {% include "product/single_product.html.twig" %}
        </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}

