{% extends 'base.html.twig' %}

{% block navbar %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" #}
            {# aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> #}
            {# <span class="navbar-toggler-icon"></span> #}
            {# </button> #}


            {# 1075 et 995 pour mobile et tablette #}

            <div id="navbarCollapse" class="nav justify-content-center col-lg-4 navbar-collapse">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link active" href="{{ path('home') }}">Accueil</a></li>
                    <li class="nav-item mx-5"><a class="nav-link active" href="{{ path('products') }}">Produits</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-4 text-center">
                <a href="{{ path('home') }}" class="site-logo py-2 my-1 mx-auto text-white nav-link ">Lady Fantastique</a>
            </div>

            <div id="navbarCollapse" class="col-lg-2 mt-2 navbar-collapse">
                {{ form(form) }}
                {# cela ne fonctionne pas #}
            </div>

                <ul class="col-lg-2 nav navbar-nav justify-content-center">
                    {% if app.user %}
                        <a href="{{ path('account') }}" class="nav-item float-md-none float-right mx-4">
                            <span class="bi bi-person-circle text-white"></span></a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="nav-item float-md-none float-right mx-4">
                            <span class="bi bi-person-circle text-white"></span></a>
                    {% endif %}

                    {% set nbproduct = null %}
                    {% for product in cart %}
                        {% set nbproduct = nbproduct + product.quantity %}
                    {% endfor %}

                    <a href="{{ path('cart') }}" class="nav-item">
                        <span class="bi bi-basket3-fill text-white">
                            <span class="badge rounded-circle badge-info text-center align-top">{{ nbproduct }}</span></span>
                    </a>
                </ul>
        </nav>
    </header>
{% endblock %}
