{% extends 'base.html.twig' %}

{% block title %}Nos produits - Lady Fantastique{% endblock %}

{% block content %}
    <div class="bg-white border py-3 mb-3">
        <div class="row">
            <div class="col-lg-12 ml-3">
                <a href="{{ path('home') }}" class="text-decoration-none"> Accueil</a>
                <span class="mx-2 mb-0">/</span>
                <a href="{{path('products')}}" class="text-decoration-none ">Tous les produits</a></div>
        </div>
    </div>

<section class="row mt-5">
    <article class="col-md-3">
        <div class="form-check">
            {{ form_start(form) }}
            {{ form_end(form) }}
        <a href="{{ path('products') }}" class="small">Effacer la sélection</a>
        </div>
    </article>

<article class="col-md-9">
    <h1>Nos produits</h1>
        <div class="row product-container">
            {% for product in products %}
                <div class="col-lg-4 col-4">
                   {% include "product/single_product.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </article>
</section>
{% endblock %}

