{% extends 'base.html.twig' %}

{% block title %}{{product.name}}
    - Nos produits{% endblock %}

{% block content %}
    <div class="border border-dark rounded py-3">
            <div class="col-md-12">
                <a href="{{ path('products') }}"> Retour </a>
                <span class="mx-2 mb-0">/</span> <strong class="text-black">{{ product.name }}</strong>
            </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}"  alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="row-md-7 my-auto mx-auto">
            <h3 class="text-uppercase">{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product--price-page">{{ (product.price / 100) | number_format(2, ',' , '.') }} €</span>
            <hr>
            <p class="product-description">{{product.description}}</p>
            <hr>
            {{ dump(quantityCart , stockCart) }}
            {% if (product.stock) == 0 %}
{#                or quantityCart.id - stock  == product.stock  #}
                <span class="btn btn-danger btn-lg ">Victime de son succès</span><br/>
                <small>Le produit sera bientot de retour en stock</small>
            {% else %}
                <a href="{{ path('add_to_cart', { 'id' : product.id }) }}" class="btn btn-dark">Ajouter au panier</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <hr>
    <h3 class="text-center">Nos meilleures ventes</h3>
    <p class="text-center">Découvrer les articles les plus vendus</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include "product/single_product.html.twig" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}